<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Laundry Point</title>
</head>
<body>
    <h1>Laundry Point</h1>
    <a href=""><button>Home</button></a>
    <a href="/laundries"><button>Laundry</button></a>
    <a href="/orders"><button>Order</button></a>
    <a href=""><button>Register</button></a>
    <a href=""><button>Login</button></a>

    
    
</body>
</html>