<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Register</title>
</head>
<body>
  <h1>Register</h1>
  <% if (errors) { %>
    <% errors.split(',').forEach(el => { %>
      <p style="color: red;"><%= el %></p>
    <% }) %>
  <% } %>
  <form action="/register" method="post">
    <p>
      <label>Full Name</label>
      <input type="text" name="fullName">
    </p>
    <p>
      <label>Profile Picture</label>
      <input type="text" name="profilePicture">
    </p>
    <p>
      <label>Email</label>
      <input type="email" name="email">
    </p>
    <p>
      <label>Password</label>
      <input type="password" name="password">
    </p>
    <p>
        <label>Role</label>
        <select name="role">
          <option value="" selected disabled>Choose...</option>
          <% ['User', 'Manager'].forEach(el => { %>
            <option value="<%= el %>"><%= el %></option>
          <% }) %>
        </select>
      </p>
    <button type="submit">Sign Up</button>
    <a href="/">Back</a>
  </form>
</body>
</html>